<div class="comment-form-container">
    <h4>Leave a new comment</h4>
    <form class="comment-form">
        <textarea name="comment-body" placeholder="Leave a comment" cols="40" rows="5"></textarea>
        <button>Submit</button>
    </form>
    <script src="comment.js"></script>
</div>
